{% extends "admin/base.html" %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">FactcheckDB</a></h1>
{% endblock %}

{% block extrahead %}
<style>
.stacked { width: 1000px; }
.stacked select { width: 990px; }
.stacked .selector-available, .stacked .selector-chosen { width: 990px; }
.redactor-box { max-width: 990px; }
form .aligned .redactor-styles ul {
	margin-left: 24px;
	padding-left: 0;
}
form .aligned .redactor-styles ul li {
	list-style: disc;
}
form .aligned .redactor-styles p {
	font-size: 16px;
}
</style>
{% endblock %}